extends layout

block content
  .container
    h2 All Causes
    p.lead Browse all available causes to support.
    .row
      .col-md-12
        if causes && causes.length > 0
          each cause in causes
            .card.mb-3
              .card-body
                h5.card-title= cause.title
                p.card-text= cause.description
                p.card-text
                  strong Goal: $#{cause.targetAmount}
        else
          .alert alert-info
            | No causes available yet. Check back soon!